{% extends 'layout.html' %} {% load widget_tweaks %} 
{% block title %} Edit Product {% endblock %} 

{% block body %}

<section>
  <div class="section-body">
    <div class="row">
      <!-- BEGIN  - FORM -->
      <form
        class="form"
        role="form"
        action=""
        method="post"
      >
        {% csrf_token %}
        <div class="col-lg-12 mt-md-5">
          <div class="card">
            <div class="card-head style-primary">
              <header>Edit Product</header>
              <div class="tools">
                <div class="btn-group">
                  <button class="btn btn-light" type="submit">
                    Submit<i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ form.brand | add_class:'form-control' }}
                    <label for="regular2">Brand</label>
                  </div>
                  <div class="form-group">
                    {{ form.name | add_class:'form-control' }}
                    <label for="regular2">Product Name</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    {{ form.barcode | add_class:'form-control' }}
                    <label for="regular2">Barcode</label>
                  </div>

                  <div class="form-group">
                    {{ form.catagory | add_class:'form-control' }}
                    <label for="regular2">Catagory</label>
                  </div>
                </div>
              </div>
            </div>
            <!--end .card-body -->
          </div>
          <!--end .card -->
        </div>
        <!--end .col -->
        <!-- END FORM - TIME ON SITE -->
      </form>
    </div>

    <!--end .row -->
  </div>
  <!--end .section-body -->
</section>

{% endblock %}
